[submodule "Radical/vendor/spdlog"]
	path = Radical/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Radical/vendor/GLFW"]
	path = Radical/vendor/GLFW
	url = https://github.com/TheCherno/glfw
